<div class="contact-page-left">
    <h2 class="contact-header">Contact 2K Homecare</h2>
    <div class="contact-info-wrap">
        <div class="contact-info">
            <p>
                <strong class="name">Kerrie Smith</strong>
                <br>
                (330) 819-2651
                <br>
                kerrieasmith63@gmail.com
            </p>
        </div>
        <div class="contact-info">
            <p>
                <strong class="name">Kellie Darby Shaw</strong>
                <br>
                (330) 819-2651
                <br>
                kerrieasmith63@gmail.com
            </p>
        </div>
    </div>
</div>
<div class="contact-page-right">
    <kk-contact-form></kk-contact-form>
</div>
