@import '_variables';

button,
a.kk-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    margin-top: 1rem;
    text-decoration: none;
    background: none;
    background-color: $blue;
    border-radius: 3px;
    color: $light;
    font-family: $primary-font;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    // transition: background 250ms ease-in-out,
    //             transform 150ms ease,
    //             border-color 250ms ease-in-out;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    fa-icon {
        color: inherit;
        font-size: 1.2rem;
        margin-left: 0.75rem;
        opacity: 0.75;
        transition: all 0.2s ease;
    }
}

button.kk-btn-sm,
a.kk-btn-sm {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

button.kk-btn-lg,
a.kk-btn-lg {
    font-size: 1.2rem;
    padding: 1rem 1.75rem;
    fa-icon {
        font-size: 1.5rem;
    }
}

button.kk-btn-outline,
a.kk-btn-outline {
    border: 2px solid $dark;
    background-color: rgba(0,0,0,0);
    color: $dark;
    &:hover,
    &:focus {
        background: $light;
        border-color: rgba($dark, 0);
        box-shadow: $box-shadow;
    }
}

button.kk-btn-dark,
a.kk-btn-dark {
    background-color: $dark-blue;
    color: #fff;
}

button.kk-btn-full-width,
a.kk-btn-full-width {
    width: 100%
}

button.kk-btn-circle,
a.kk-btn-circle {
    padding: 0;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover,
button:focus,
a.kk-btn:hover,
a.kk-btn:focus {
    background-color: $light-blue;
    box-shadow: $box-shadow;
    fa-icon {
        opacity: 1;
    }
}

button.kk-btn-dark:hover,
button.kk-btn-dark:focus,
a.kk-btn.kk-btn-dark:hover,
a.kk-btn.kk-btn-dark:focus {
    background-color: lighten($dark-blue, 5%);
    box-shadow: $box-shadow;
}

button:active,
a.kk-btn:active {
    transform: scale(0.95);
}
