// $offwhite: #F4F4F4;
// $dark-gray: #373737;
// $danger: #974c48;
// $warning: #db7452;
// $primary: #123C69;
// $accent: #AC3B61;
// $gray: #BAB2B5;
// $peach: #EDC7B7;
// $success: #53a653;
// $light-peach: #EEE2DC;

$white: #ffffff;
$light: #f1f1f2;
$dark: #444444;
$gray: #bcbaba;
$blue: #1995ad;
// $green: lighten(#3c462d, 5%);
$green: lighten(#354234, 15%);
$light-blue: lighten(#1995ad, 5%);
// $light-blue: #a1d6e2;
$red: #ac3b61;
$orange: #e5b685;
$yellow: #FFFF80;
$pink: #B8879F;
$light-pink: lighten(#B8879F, 20%);
// $pink: #EEE2DC;
