/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'variables';
@import 'button';
@import 'animations';

* {
    box-sizing: border-box;
}

app-root {
    display: flex;
    min-height: 100vh;
    background-color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
input,
textarea,
label,
em,
strong,
div {
    font-family: $primary-font;
    color: $dark;
}

a {
    text-decoration: none;
    display: inline-block;
    &:focus,
    &:active {
        outline: none;
    }
}

img {
    display: inline-block;
}

h1 {
    font-size: 4.7rem;
    font-weight: 100;
    font-family: Alex Brush;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    line-height: 1.75rem;
}

em {
    font-style: italic;
    color: inherit;
}

strong {
    font-weight: 900;
    color: inherit;
}

input[type=text],
input[type=email],
input[type=phone],
textarea {
    border: none;
    border-radius: 3px;
    background-color: $white;
    color: $dark;
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    resize: none;
    &:focus {
        box-shadow: $box-shadow;
    }
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.color-light {
    color: $light;
}

fa-icon {
    color: $dark;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1.75rem;
}
