<div class="footer-left">
    <img
        class="footer-logo"
        src="assets/images/logos/2k-logo-color-2.png"
        alt="2K Homecare Logo"
    >
    <div class="footer-left-inner">
        <h4>2K Homecare</h4>
        <div class="footer-contact-wrap">
            <p class="footer-contact-info">
                <strong>Kerrie Smith</strong>
                <br>
                (330) 819-2651
                <br>
                kerrieasmith63@gmail.com
            </p>
            <p class="footer-contact-info">
                <strong>Kellie Darby Shaw</strong>
                <br>
                (330) 819-2651
                <br>
                kerrieasmith63@gmail.com
            </p>
        </div>
        <p class="copyright">
            Copyright &copy; 2K Homecare. All Rights Reserved.
        </p>
    </div>

</div>

<div class="footer-right">
    <div class="footer-social-wrap">
        <p>Follow Us!</p>
        <a
            href="/"
            class="footer-social-tag"
        >
            <fa-icon
                [icon]="['fab', 'facebook']"
                [size]="'2x'"
            ></fa-icon>
        </a>
        <a
            href="/"
            class="footer-social-tag"
        >
            <fa-icon
                [icon]="['fab', 'instagram']"
                [size]="'2x'"
            ></fa-icon>
        </a>
    </div>
</div>
