<nav class="services-nav">
    <div class="services-nav-item">
        <span class="services-nav-icon-wrap">
            <fa-icon
                class="services-nav-icon"
                [icon]="'broom'"
            ></fa-icon>
        </span>
        <a
            class="services-nav-tag"
            [routerLink]="'/services/cleaning'"
        >
            Cleaning
        </a>
    </div>
    <div class="services-nav-item">
        <span class="services-nav-icon-wrap">
            <fa-icon
                class="services-nav-icon"
                [icon]="'paint-roller'"
            ></fa-icon>
        </span>
        <a
            class="services-nav-tag"
            [routerLink]="'/services/painting'"
        >
            Painting
        </a>
    </div>
    <div class="services-nav-item">
        <span class="services-nav-icon-wrap">
            <fa-icon
                class="services-nav-icon"
                [icon]="'tree'"
            ></fa-icon>
        </span>
        <a
            class="services-nav-tag"
            [routerLink]="'/services/landscaping'"
        >
            Landscaping
        </a>
    </div>
    <div class="services-nav-item">
        <span class="services-nav-icon-wrap">
            <fa-icon
                class="services-nav-icon"
                [icon]="'chess-board'"
            ></fa-icon>
        </span>
        <a
            class="services-nav-tag"
            [routerLink]="'/services/wallpapering'"
        >
            Wallpapering
        </a>
    </div>
    <div class="services-nav-item">
        <span class="services-nav-icon-wrap">
            <fa-icon
                class="services-nav-icon"
                [icon]="'birthday-cake'"
            ></fa-icon>
        </span>
        <a
            class="services-nav-tag"
            [routerLink]="'/services/wallpapering'"
        >
            Special Event Cleaning
        </a>
    </div>
</nav>
