<div class="kk-card">
    <h3 class="admin-card-header">Invoices</h3>
    <a
        class="admin-card-body"
        [routerLink]="'invoices'"
    >
        <span class="admin-card-icon-wrap">
            <fa-icon [icon]="'dollar-sign'"></fa-icon>
        </span>
        <p class="admin-card-text">4 Unpaid</p>
    </a>
</div>
<div class="kk-card">
    <h3 class="admin-card-header">Photo Uploader</h3>
    <a
        class="admin-card-body"
        [routerLink]="'photo-upload'"
    >
        <span class="admin-card-icon-wrap">
            <fa-icon [icon]="'images'"></fa-icon>
        </span>
        <a
            class="kk-btn upload-btn"
            [routerLink]="'photo-upload'"
        >
            Upload
            <fa-icon [icon]="'angle-right'"></fa-icon>
        </a>
    </a>
</div>
