@import 'variables';
:host {
    display: block;
    padding-bottom: 2rem;
    width: 100%;
    img {
        width: 100%;
    }
}
div.about-header {
    padding: 2rem 2rem 0 2rem;
    position: relative;
    >img {
        position: absolute;
        top: 0px;
        left: 0;
        width: 250px;
        z-index: 400;
        transform: scaleX(1.3);
        opacity: 0.85;
    }
}
h2.about-page-title {
    color: #fff;
}
section.about-intro-section {
    padding: 2rem;
    display: flex;
    position: relative;
}
h2.about-page-title,
p.about-intro {
    position: relative;
    z-index: 401;
}
p.about-intro {
    padding-right: 4rem;
    flex: 1;
}
div.about-intro-img-wrap {
    flex: 0.75;
}
div.team-member-wrap {
    display: flex;
    padding: 2rem;
    margin-bottom: 2rem;
    &:first-child {
        background-color: #fff;
        margin-top: 2rem;
        padding: 4rem 2rem;
    }
}
div.team-member-img-wrap {
    flex: 0.65;
}
div.team-member-info-wrap {
    flex: 1;
    padding: 0 2rem;
    >h2 {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    section.about-intro-section {
        flex-direction: column;
    }
    p.about-intro {
        padding-right: 0;
    }
    div.about-intro-img-wrap {
        margin-top: 2rem;
    }
    div.team-member-wrap {
        flex-direction: column;
    }
    div.team-member-img-wrap {
        order: 2;
        margin-top: 2rem;
    }
    div.team-member-info-wrap {
        padding: 0;
    }
}
