<div class="about-header">
    <h2 class="about-page-title">Who We Are</h2>
    <img src="assets/images/decor/paint-stroke-blue-2.png">
</div>
<section class="about-intro-section">
    <p class="about-intro">
        2K Homecare is Kerrie Smith and Kellie Shaw Darby, two sisters from Sugarcreek, Ohio. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="about-intro-img-wrap">
        <img
            src="assets/images/people/kk-kids.jpg"
            alt="2K Babies"
        >
    </div>
</section>
<section class="team-section">
    <div class="team-member-wrap">
        <div class="team-member-img-wrap">
            <img
                src="assets/images/people/kerrie.jpg"
                alt="Kerrie Smith"
            >
        </div>
        <div class="team-member-info-wrap">
            <h2>Kerrie Smith</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="team-member-wrap">
        <div class="team-member-img-wrap">
            <img
                src="assets/images/people/kellie.jpg"
                alt="Kellie Shaw Darby"
            >
        </div>
        <div class="team-member-info-wrap">
            <h2>Kellie Shaw Darby</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>
