<div
    class="side-nav-clickout"
    [class.open]="sideNavOpen"
    [class.fade-in]="sideNavOpen"
    (click)="sideNavOpen = false"
></div>
<nav
    class="header-nav"
    [class.open]="sideNavOpen"
>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/'"
        [routerLink]="'/'"
        (click)="sideNavOpen && sideNavOpen = false"
    >
        Home
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/about'"
        [routerLink]="'/about'"
        (click)="sideNavOpen && sideNavOpen = false"
    >
        About
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/services'"
        [routerLink]="'/services'"
        (click)="sideNavOpen && sideNavOpen = false"
    >
        Services
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/photos'"
        [routerLink]="'/photos'"
        (click)="sideNavOpen && sideNavOpen = false"
    >
        Photos
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/contact'"
        [routerLink]="'/contact'"
        (click)="sideNavOpen && sideNavOpen = false"
    >
        Contact
    </a>
</nav>
<div class="header-sides-wrap">
    <a
        class="header-logo-tag"
        [routerLink]="'/'"
    >
        <img
            class="header-logo"
            src="assets/images/logos/2k-logo-color-2.png"
            alt="2K Homecare Logo"
        >
    </a>
    <div class="social-wrap slide-in-left">
        <fa-icon
            class="mobile-nav-trigger"
            [icon]="'bars'"
            (click)="sideNavOpen = true"
        ></fa-icon>
        <div class="social-wrap-inner">
            <a href="/">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
            <a href="/">
                <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
            </a>
        </div>
    </div>
</div>
<div class="header-contact-wrap slide-in-down">
    <div class="header-contact-inner">
        <h4 class="header-phone-number">
            <fa-icon [icon]="'phone'"></fa-icon>
            (330) 819-2651
        </h4>
        <button
            class="kk-btn-sm"
            (click)="openModal()"
        >
            Get A Quote
        </button>
    </div>
</div>
<kk-modal>
    <div
        *kkModalTemplate
        class="modal-content-wrap slide-in-up"
    >
        <kk-contact-form></kk-contact-form>
    </div>
</kk-modal>
