<nav class="header-nav">
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/'"
        [routerLink]="'/'"
    >
        Home
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/about'"
        [routerLink]="'/about'"
    >
        About
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/services'"
        [routerLink]="'/services'"
    >
        Services
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/photos'"
        [routerLink]="'/photos'"
    >
        Photos
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/contact'"
        [routerLink]="'/contact'"
    >
        Contact
    </a>
</nav>
<div class="header-sides-wrap">
    <a
        class="header-logo-tag"
        [routerLink]="'/'"
    >
        <img
            class="header-logo"
            src="assets/images/logos/2k-logo-color-2.png"
            alt="2K Homecare Logo"
        >
    </a>
    <div class="social-wrap slide-in-left">
        <a href="/">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a href="/">
            <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
    </div>
</div>
<div class="header-contact-wrap slide-in-down">
    <div class="header-contact-inner">
        <h4 class="header-phone-number">
            <fa-icon [icon]="'phone'"></fa-icon>
            (330) 819-2651
        </h4>
        <button
            class="kk-btn-sm"
            (click)="openModal()"
        >
            Get A Quote
        </button>
    </div>

</div>
