@import 'variables';
:host {
    height: 150px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem 2rem;
    transition: all 0.2s ease;
    z-index: 801;
    &.scrolled {
        box-shadow: $box-shadow;
    }
}
div.side-nav-clickout {
    display: none;
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 802;
    background-color: rgba($dark, 0.5);
}
nav.header-nav {
    position: relative;
    z-index: 801;
}
div.side-nav-logo-wrap {
    display: none;
    height: 130px;
    margin-bottom: 1rem;
    text-align: center;
}
div.header-sides-wrap {
    position: absolute;
    z-index: 800;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
a.nav-link {
    padding: 0.75rem;
    margin: 0 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    opacity: 0.75;
    border-bottom: 4px solid rgba(#000, 0);
    transition: all 0.2s ease;
    &:hover:not(.nav-link-active) {
        opacity: 0.9;
    }
}
a.nav-link-active {
    border-bottom: 4px solid $light-blue;
    opacity: 1;
}
a.header-logo-tag {
    height: 100%;
}
img.header-logo {
    height: 90%;
}

div.social-wrap-inner,
div.social-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.social-wrap-inner {
    flex-direction: column;
    >a {
      margin: 0.5rem 0;
      color: $lightest-blue;
      transition: color 0.2s ease;
      >fa-icon {
          font-size: 1.75rem;
          color: inherit;
      }
      &:hover {
          color: $blue;
      }
    }
}
div.header-contact-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $lightest-blue;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0.5rem 1rem;
    z-index: 801;
    min-width: 425px;

}
div.header-contact-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $light;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: $light;
    >h4 {
        cursor: pointer;
        letter-spacing: 0.25rem;
    }
    >button {
        margin-top: 0px;
        margin-left: 2rem;
    }
}
fa-icon.mobile-nav-trigger {
    display: none;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: all 0.2s ease;
    opacity: 0.75;
    font-size: 1.5rem;
    &:hover {
        opacity: 1;
    }
    &.active {
        color: $blue;
    }
}
@media only screen and (max-width: 1024px) {
    div.side-nav-clickout {
        display: block;
        &.open {
            visibility: visible;
        }
    }
    nav.header-nav {
        transition: transform 0.3s linear;
        position: fixed;
        background-color: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        flex-direction: column;
        display: flex;
        width: 325px;
        box-shadow: $box-shadow-left;
        padding: 2rem 0;
        z-index: 803;
        transform: translateX(105%);
        &.open {
            transform: translateX(0);
        }
    }
    a.nav-link {
        font-size: 1rem;
        margin-bottom: 1rem;
        &:hover {
            background-color: $light;
        }
    }
    div.side-nav-logo-wrap {
        display: block;
    }
    fa-icon.mobile-nav-trigger {
        display: inline-block;
    }
    div.header-contact-inner {
        >h4 {
            cursor: pointer;
            letter-spacing: 0.25rem;
            font-size: 1rem;
            >fa-icon {
                font-size: 1.2rem;
            }
        }
        >button {
            margin-top: 0px;
            margin-left: 2rem;
        }
    }
}
@media only screen and (max-width: 767px) {
    :host {
        height: 120px;
    }
    div.social-wrap-inner {
        >a>fa-icon {
            font-size: 1.5rem;
        }
    }
    div.header-contact-wrap {
        min-width: 245px;
    }
    div.header-contact-inner>button {
        display: none;
    }
}
@media only screen and (max-width: 560px) {
    div.header-contact-wrap {
        display: none;
    }
    nav.header-nav {
        width: 250px;
    }
}
