<nav class="header-nav">
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/'"
        [routerLink]="'/'"
    >
        Home
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/about'"
        [routerLink]="'/about'"
    >
        About
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/services'"
        [routerLink]="'/services'"
    >
        Services
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/photos'"
        [routerLink]="'/photos'"
    >
        Photos
    </a>
    <a
        class="nav-link"
        [class.nav-link-active]="currentUrl === '/contact'"
        [routerLink]="'/contact'"
    >
        Contact
    </a>
</nav>
<div class="header-sides-wrap">
    <a
        class="header-logo-tag"
        [routerLink]="'/'"
    >
        <img
            class="header-logo"
            src="assets/images/logos/2k-logo-black.png"
            alt="2K Homecare Logo"
        >
    </a>
    <div class="header-contact-wrap">
        <h4 class="header-phone-number">(330) 819-2651</h4>
        <button class="kk-btn-sm">Get A Quote</button>
    </div>
</div>
<div class="social-wrap">
    <a href="/">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
    <a href="/">
        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
    </a>
</div>
